:root{
    --lana-bg: #303238;
    --card-h: 320px;
    --card-w: 250px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    background-color: #212328;
}

h1 {
    display: inline;
    border-bottom: 3px solid #AEE9E0;
}

.lana-text-color {
    color: #AEE9E0;
    font-size: 20px;
    z-index: 5;
    position: relative;
}

.lana-text-color-smol {
    color: #AEE9E0;
    font-size: 18px;
    z-index: 5;
    position: relative;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}